<section id="footer">

  <div class="container>


    <div class="footer">

      <h6 style="margin-bottom: 10px; color: white;">Web Master : <a id="webmaster" href="https://www.linkedin.com/in/karthik-k-s-7558171b0/">Karthik K S</a></h6>


      <h6 style="margin-bottom: 0px; color: white;font-size:13px;font-weight:0px;">Created by G2C2 team - <i class="far fa-copyright"></i> All rights reserved</h6>
    </div>
  </div>

</section>
<script src="./index.js"></script>
</body>

</html>
